<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="$(find arm_full)/config/initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find arm_full)/urdf/panda.urdf.xacro" />

    <!-- Import panda ros2_control description -->
    <xacro:include filename="$(find arm_full)/config/panda.ros2_control.xacro" />
    <xacro:include filename="$(find arm_full)/config/panda_hand.ros2_control.xacro" />

    <xacro:panda_ros2_control_ext sys_name="PandaSystem"
                            initial_positions_file="$(arg initial_positions_file)"
                            ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    <xacro:panda_hand_ros2_control name="PandaHandFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <!-- point to your controllers yaml -->
            <parameters>$(find arm_full)/config/ros2_controllers.yaml</parameters>

            <!-- hold joints at their commanded positions even when idle -->
            <hold_joints>true</hold_joints>
        </plugin>
    </gazebo>

</robot>
